.insert-task{
    display: flex;
    max-width: 50%;
    margin: 1em auto;
}
main::content {
    content: "ceo"
}
main .todo-div{
    display: flex;
    justify-content: center;
    margin: 2em 0;
}
.todo-div h5 {
    padding: .4em 0 0 0;
}
.insert-task button, .todo-div button {
    width: 100px;
}
.deleteBtn {
    margin-left: 1em;
}